@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: #fff;
}

body {
  min-height: 100vh;
  background-color: dodgerblue;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  border-radius: 2px
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  flex-grow: 1;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  padding: 0.25rem;
  border-radius: 10px;
}

.instructions {
  position: relative;
  background-color: black;
  padding: 7px;
  border-radius: 10px;
  font-size: 0.6rem;
  bottom: -10px;
  margin-top: 10px;
}

.instructions>svg {
  margin-right: 5px;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.2rem;
}

.invalid {
  color: red;
  margin-left: 0.2rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

a,
a:visited {
  color: #fff
}

.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.alignSelf {
  align-self: flex-start;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.persistCheck {
  font-size: 0.75rem;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin: 0 5px 2px 2px;
}